:host {
  align-items: center;
  background: var(--mainColor);
  color: var(--whiteColor);
  display: flex;
  flex-shrink: 0;
  padding: calc(var(--grid) * 2.5) calc(var(--grid) * 3);
}

.nav-toggle {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  font-size: 2rem;
  margin-right: calc(var(--grid) * 2);
}

.logo {
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}

.created {
  display: none;
}

.link {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  font-size: 1.8rem;
  margin-left: calc(var(--grid) * 2);
}
//
//@include mq($from: tablet) {
//  .nav-toggle {
//    display: none;
//  }
//  .created {
//    color: $primaryColor;
//    display: inline;
//    font-size: 16px;
//    font-weight: 400;
//  }
//}
