:host {
  background: var(--navBgColor);
  color: var(--navTextColor);
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.04);
}

.close {
  background: transparent;
  border: 0;
  color: #ffffff;
  font-size: 2rem;
  left: 100%;
  position: absolute;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  h3 {
    margin: var(--grid) 0 0 0;
    padding: var(--grid);
    font-size: 0.9rem;
    color: var(--mainBdColor);
  }
  a {
    display: block;
    text-decoration: none;
    padding: calc(var(--grid) / 2) var(--grid);
  }
}
