:host {
  background: var(--whiteColor);
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.04);
  display: flex;
}

.close {
  background: transparent;
  border: 0;
  color: #ffffff;
  font-size: 2rem;
  left: 100%;
  position: absolute;
}

ui-scroll {
  flex-grow: 1;
  max-height: none;
}

