@import "params";
@import "mq";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.body {
  background: $mainColorLight2;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
}

app-nav {
  background: $mainColorLight1;
  flex-shrink: 0;
  &.side {
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 90%;
  }
}

ui-scroll {
  flex-grow: 1;
  max-height: none;
}

.main-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
  padding: $grid * 2;
}

@include mq($from: mobile) {
  app-nav.side {
    width: 75%;
  }

  .main-wrapper {
    padding: $grid * 3;
  }
}

@include mq($from: tablet) {
  app-nav.default {
    width: 225px;
  }

  .main-wrapper {
    padding: $grid * 3 $grid * 5 $grid * 5 $grid * 5;
  }
}

@include mq($from: desktop) {
  app-nav.default {
    width: 300px;
  }
}
