@import "mq";

:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas: "header" "content";
  height: 100%;
  position: fixed;
  width: 100%;
}

.header {
  grid-area: header;
}

.side {
  grid-area: side;
  min-height: 0;
}

.side-overlay {
  background: var(--whiteColor);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 90%;
}

.content {
  grid-area: content;
  min-height: 0;
  overflow: hidden;
  .content-wrapper {
    margin: 0 auto;
    max-width: 900px;
    padding: calc(var(--grid) * 2) calc(var(--grid) * 2);
  }
}

@include mq($from: mobile) {
  .side {
    width: 75%;
  }
  .content {
    .content-wrapper {
      padding: calc(var(--grid) * 3);
    }
  }
}

@include mq($from: tablet) {
  :host {
    grid-template-columns: 250px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: "header header" "side content";
  }
  .side {
    width: 100%;
  }
  .content {
    .content-wrapper {
      padding: calc(var(--grid) * 3) calc(var(--grid) * 5) calc(var(--grid) * 5) calc(var(--grid) * 5);
    }
  }
}

@include mq($from: desktop) {
  :host {
    grid-template-columns: 300px 1fr;
  }
}
