@import "params";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

ui-scroll {
  flex-grow: 1;
  max-height: none;
}

.main-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
  padding: $grid * 3 $grid * 5 $grid * 5 $grid * 5;
}
