@import "params";
@import "mq";

> div {
  padding: 30px 0;
}

.color-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.color-box {
  box-sizing: border-box;
  padding: $grid $grid $grid 0;
  width: 50%;
  code {
    background: $whiteColor;
    box-shadow: $smallShadow;
  }
}

.color {
  border: 1px solid $mainColorLight4;
  border-radius: $grid/2;
  box-sizing: border-box;
  color: $whiteColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
  padding: $grid * 2;
  &.-primary {
    background: $primaryColor;
  }
  &.-main {
    background: $mainColor;
  }
  &.-white {
    background: $whiteColor;
    color: $mainColor;
  }
  &.-light {
    background: $lightColor;
    color: $mainColor;
  }
  &.-error {
    background: $errorColor;
  }
  &.-success {
    background: $successColor;
  }
  &.-warning {
    background: $warningColor;
  }
  &.-info {
    background: $infoColor;
  }
}

table {
  margin: $grid * 3 0;

  .-primary {
    background: $primaryColor;
  }
  .-primary1 {
    background: $primaryColorDark1;
  }
  .-primary2 {
    background: $primaryColorDark2;
  }
  .-primary3 {
    background: $primaryColorLight1;
  }
  .-primary4 {
    background: $primaryColorLight2;
  }
  .-main {
    background: $mainColor;
  }
  .-main1 {
    background: $mainColorLight1;
  }
  .-main2 {
    background: $mainColorLight2;
  }
  .-main3 {
    background: $mainColorLight3;
  }
  .-main4 {
    background: $mainColorLight4;
  }
  .-white {
    background: $whiteColor;
  }
  .-light {
    background: $lightColor;
  }
  .-error {
    background: $errorColor;
  }
  .-error1 {
    background: $errorColorDark1;
  }
  .-error2 {
    background: $errorColorDark2;
  }
  .-error3 {
    background: $errorColorLight1;
  }
  .-error4 {
    background: $errorColorLight2;
  }
  .-success1 {
    background: $successColorDark1;
  }
  .-success2 {
    background: $successColorDark2;
  }
  .-success {
    background: $successColor;
  }
  .-success3 {
    background: $successColorLight1;
  }
  .-success4 {
    background: $successColorLight2;
  }
  .-warning1 {
    background: $warningColorDark1;
  }
  .-warning2 {
    background: $warningColorDark2;
  }
  .-warning {
    background: $warningColor;
  }
  .-warning3 {
    background: $warningColorLight1;
  }
  .-warning4 {
    background: $warningColorLight2;
  }
  .-info1 {
    background: $infoColorDark1;
  }
  .-info2 {
    background: $infoColorDark2;
  }
  .-info {
    background: $infoColor;
  }
  .-info3 {
    background: $infoColorLight1;
  }
  .-info4 {
    background: $infoColorLight2;
  }
  tr {
    :first-child {
      width: 50px;
    }
    :nth-child(2) {
      display: none;
    }
  }
  th, td {
    border-color: $mainColorLight4;
    padding: $grid;
  }
}

@include mq($from: tablet) {

  .color {
    height: 130px;
  }

  table {
    tr {
      :nth-child(2) {
        display: table-cell;
        width: 80px;
      }
    }
    th, td {
      padding: $grid * 2 $grid * 3;
    }
  }
}

@include mq($from: desktop) {
  .color-box {
    width: 25%;
  }
}
