@import "params";

:host {
  display: block;
  padding: $grid * 4 $grid * 2 $grid * 2;
  text-align: center;
  transition: all $transition;
  width: 110px;
  &:hover {
    box-shadow: $shadow;
  }
}

.name {
  font-size: .8rem;
  line-height: 1.2em;
  height: 2.4em;
}
