:root {
  --grid: 8px;
  --borderRadius: 3px;
  --transition: 150ms;
  --transitionSlow: 300ms;

  /* Shadows */
  --shadow: 0 9px 30px 0 rgba(35, 39, 42, .1);
  --smallShadow: 0 2px 6px 0 rgba(35, 39, 42, 0.15);

  /* Main colors */
  --whiteColor: #ffffff;
  --mainBgColor: #ffffff;
  --mainBdColor: #eaeaea;
  --mainTextColor: #24252f;
  --mainTextLightColor: #a4a4a4;
  --mainHoverBgColor: #f0f0f0;
  --mainHoverTextColor: #24252f;

  /* Link colors */
  --linkColor: #7288d8;
  --linkHoverColor: #6275b9;
  --linkActiveColor: #4f5d93;

  /* Trans colors */
  --toBackgroundColor1: rgba(230, 230, 230, .1);
  --toBackgroundColor2: rgba(230, 230, 230, .2);
  --toTextColor1: rgba(0, 0, 0, .25);
  --toTextColor2: rgba(0, 0, 0, .45);

  /* Header colors */
  --headerBgColor: #24252f;
  --headerTextColor: #ffffff;

  /* Navigation panel color */
  --navBgColor: #ffffff;
  --navTextColor: var(--mainTextColor);

  /* Panels color */
  --panelBgColor: #ffffff;
  --panelBdColor: #d7d7d9;
  --panelTextColor: var(--mainTextColor);

  /* Alt panels colors (notif, tooltip..) */
  --altPanelBgColor: #393b45;
  --altPanelTextColor: #ffffff;

  /* Input elements colors */
  --inputBgColor: #ffffff;
  --inputBdColor: #d7d7d9;
  --inputTextColor: var(--mainTextColor);

  /* Scroll colors */
  --scrollBgColor: #eaeaea;
  --scrollBarColor: #9a9a9a;

  --primaryColor: #7288d8;
  --primaryTextColor: #ffffff;
  --primaryHoverColor: #6275b9;
  --primaryActiveColor: #4f5d93;
  --primaryLightColor: #cbd3f0;

  --errorColor: #f04747;
  --errorTextColor: #ffffff;
  --errorHoverColor: #df4242;
  --errorActiveColor: #df4242;
  --errorLightColor: #fcdddd;

  --successColor: #43b581;
  --successTextColor: #ffffff;
  --successHoverColor: #3da576;
  --successActiveColor: #37956a;
  --successLightColor: #bae4d1;

  --warningColor: #faa61a;
  --warningTextColor: #ffffff;
  --warningHoverColor: #e89a18;
  --warningActiveColor: #d38c17;
  --warningLightColor: #fde6c0;

  --infoColor: #00b0f4;
  --infoTextColor: #ffffff;
  --infoHoverColor: #00a4e3;
  --infoActiveColor: #0098d1;
  --infoLightColor: #b9e9fc;
}

html {
  background: var(--mainBgColor);
  color: var(--mainTextColor);
}

a {
  color: var(--primaryColor);
}

pre {
  background: var(--mainHoverBgColor);
  color: var(--mainHoverTextColor);
}

code {
  background: var(--mainHoverBgColor);
  color: var(--mainHoverTextColor);
}
