@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Source+Sans+Pro:300,400,700');
@import "params";
@import "typo";
@import "loader";

html {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Source Sans Pro', Arial;
  font-size: 16px;
  line-height: 1.35rem;
  color: $mainColor;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 0;
  max-width: 100%;
}

button, input, textarea, select {
  font-family: 'Source Sans Pro', Arial;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
}

table th {
  color: $mainColorLight3;
  padding: 8px 16px;
  text-align: left;
  white-space: nowrap;
  font-weight: 700;
}

table td {
  padding: $grid*2 $grid*3;
  text-align: left;
}

table tr {
  border-bottom: 1px solid $mainColorLight4;
}

code {
  background: $lightColor;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 0.75em;
}

pre {
  background: $lightColor;
  margin: 0;
  overflow-x: auto;
  padding: 8px;
}

pre code {
  background: transparent;
  padding: 0;
}

tt, code, kbd, samp {
  font-family: 'Droid Sans Mono', monospace;
}

.demo-panel{
  margin-top: 50px;
}
