@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Source+Sans+Pro:300,400,700');
@import "loader";
@import "mq";

html {
  display: flex;
  flex-direction: row;
  width: 100%;
}

body {
  font-family: var(--sansSerif);
  font-size: 16px;
  line-height: 1.35em;
  color: var(--mainColor);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 0;
  max-width: 100%;
}

button, input, textarea, select {
  font-family: var(--sansSerif);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
}

table th {
  color: var(--mainColorLight3);
  padding: 8px 16px;
  text-align: left;
  white-space: nowrap;
  font-weight: 700;
}

table td {
  padding: calc(var(--grid) * 2) calc(var(--grid) * 3);
  text-align: left;
}

table tr {
  border-bottom: 1px solid var(--mainColorLight4);
}

.kit-overlay-container {
  z-index: 1000;
}

.demo-panel {
  margin-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1em;
}

//@include mq(var(--from): tablet) {
//  html {
//    height: 100%;
//  }
//}
